*{
    margin : 0px ;
    padding : 0px ;
}
.msg{
    background-color: black;
    height : 40px ;
    width : 299px ;
    border-radius : 15px ;
    color : white ;
    text-align: center;
    line-height: 2rem;
    font-size : 20px ;
    margin-left : 40% ;
    margin-top : 20px;
    padding-top : 0.4rem ;

}
#user{
    font-size : 30px ;
}
#comp{
    font-size : 30px ;
}
#rock{
    background-color: aqua;
}
#scissor{
    background-color: brown;
}
#paper{
    background-color : red ;
}

h1 {
    background-color : black ;
    color : white ;
    text-align: center ;
    line-height : 3rem ;
}
.penny-box{
    height : 150px ;
    width : 160px ;
    font-size : 30px ;
    border-radius : 100px ;
    background-color: grey;
    
   align-items: center;
    justify-content: center ;
    margin-left : 30px ;
    display : flex ;
    padding-bottom: 10px;
}
.main-box {
    display : flex ;
    justify-content : center ;
    margin-top : 30px ;
}
.rank{
    
   display : flex ;
    text-align : center ;
    justify-content : center ;
    gap : 3rem ;
    margin-top : 30px ;
}
.penny-box:hover{
    opacity: 0.6;
}